@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,600,700);

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    /* vertical-align:baseline; */
    font-family: 'Titillium Web';
    font-weight: 400;
}

h1{ font-size: 42px;}
h2{ font-size: 30px;}
h3{ font-size: 22px;}
h4{ font-size: 18px;}
h5{ font-size: 16px;}
h6{ font-size: 10px; color: #555; margin: 3px 0 0 0;}

strong {
	font-weight: 600;
}

.row-margin {margin-top: 8px;}

.row-big-margin {margin-top: 48px;}
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.btn:focus {
  outline-color: transparent;
  outline-style: none;
}



/* Override placeholder color */
.form-control::-moz-placeholder {
  color: #999;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}

.navbar-form {padding: 0;}
.navbar-form > .form-group > .form-control {margin: 0; width: 240px;}

.form-control, .form-control:focus { background: #1D2224; border: 1px solid #53595C; padding: 4px 10px; height: 30px; }

.form-control  {
    color: #D3D3D3 !important;
}

.typeahead{
	padding: 6px 12px 6px 12px;
	color: #5da0b7;
	text-transform: uppercase;
	width: 240px;
	margin-right: 15px;
	/*margin-left: 50px;*/
	border: 1px solid #2a3033;
}




.submit-btn {
    padding:8px 16px;
    border-radius:4px;
    margin-left:8px;
    // background-color:#ba32a0;
    background-color: gray;
    border:2px solid #fff;
    color:#fff;
    font-weight:bold;
    transition: 0.2s;
}

.submit-btn:hover {
    background-color:#fff;
    /* color:#ba32a0; */
    color: gray;
}

.bg-profitable {
    background-color: #E2FFE9;
}

.bg-unprofitable {
    background-color: #fee5e4;
}

html, body, p {
/*    font-family: 'Roboto', sans-serif; */
    color: gray;
}

h1, h2, h3, h4, h5, h6 {
/*    font-family: 'Roboto', sans-serif; */
    color: #66FF66;
}

.title-text { font-size: 21px; }

.identifiers dt { display: inline; font-weight: normal; }
.identifiers dd { display: inline; font-weight: normal; }
.identifiers dt:after { content: ":"}

body {
    background: #333333;
}

.dataTables_filter label {
    color: #66FF66;
}

.form-signin {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}​

.form-signin .form-control {
    color: #ccc;
}

.form-signin .btn {
    width: 100%;
    margin: 10px 0;
    color: #fff;
    padding: 5px;
    background: #0e9f6a;
    border-bottom: 5px solid #0c8156;
    border-top: none;
    border-right: none;
    border-left: none;
}

.irs-min, .irs-max {
    background: gray !important;
}

.filter-button {
    font-family: 'Titillium Web';
    background-color: transparent;
    color: gray;
    border: 0;
}

#signaltabs {
    margin-bottom: 5px;
}

.nav {
    border-bottom: 1px solid gray;
}

.nav > li > a {
    color: white !important;
}

.nav-link.active {
    color: #7de41b !important;
    border-bottom: 2px solid #7de41b;
}