<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #212425;">
    <div id="logo-image">
        <a class="navbar-brand title-text" href="#">
            <img src="{{ url_for('static', filename='white_cube_full_logo.png') }}" width="150" height="50">
            Arni - {{ title | safe }}
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        </ul>
        {% if current_user.is_authenticated and url_for(request.endpoint) == "/search"%}
        <form class="navbar-form navbar-left" name="search-form" action="/search" method="GET" >
            <!--<select class="my-dropdown-menu" name="dropdown-select" style="padding:8px;border-radius:8px;">
                <option value="1" {% if selected_class=='1' %} selected {% endif %}>1st Class</option>
                <option value="2" {% if selected_class=='2' %} selected {% endif %}>2nd Class</option>
                <option value="3" {% if selected_class=='3' %} selected {% endif %}>3rd Class</option>
            </select>-->
            <input class="form-control typeahead" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="symbol-box" type="text" name="symbol" placeholder="Symbol Search"/>
            <!-- <input class="submit-btn" type="submit" value="Search" /> -->
        </form>
        {% endif %}
    </div>
</nav>
