{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
    <h1>{{ header | safe }}</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for path, ssg, name in breadcrumbs %}
        {% if loop.last %}
            <li class="breadcrumb-item active" aria-current="page">{{ name | safe }}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="/{{ path }}/{{ ssg }}">{{ name | safe }}</a></li>
        {% endif %}
        {% endfor %}
      </ol>
    </nav>
    {% if tree|length > 0 %}
    <h2>Groups</h2>
    <div class="row mb-3">
    <ul>
    {% for key, value in tree.items() recursive %}
    <li><a href="/{{ path }}/{{ key }}">{{ ssg_label_map[key] | safe }}</a></li>
    {%- if value is mapping -%}<ul>{{ loop(value.items()) }}</ul>{%- endif -%}
    {%- endfor %}
    </ul>
    </div>
    {% endif %}
    {% if symbol_records|length > 0 %}
    <h2>Symbols</h2>
    <div class="row mb-5 px-3">
    <table class="table table-dark table-striped table-bordered">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th class="text-right">Avg Mkt Cap</th>
            <th class="text-right">Avg Short Int</th>
            <th class="text-right">Avg Rate</th>
            {% if 'pnl' in symbol_records[0] %}
            <th class="text-right">Avg PNL</th>
            {% endif %}
            <th class="text-right">URL</th>
        </tr>
        </thead>
        <tbody>
        {% for record in symbol_records %}
        {% if 'pnl' in record and record.pnl > 0.0 %}
        <tr class="bg-profitable">
        {% elif 'pnl' in record and record.pnl < 0.0 %}
        <tr class="bg-unprofitable">
        {% else %}
        <tr>
        {% endif %}
            <td><a href="/search?symbol={{ record.symbol }}">{{ record.symbol | safe }}</a></td>
            <td>{{ record.name | safe }}</td>
            <td class="text-right">{{ '{:,.0f}'.format(record.market_cap) }}</td>
            <td class="text-right">{{ '{:,.0f}'.format(record.short_int) }}</td>
            <td class="text-right">{{ '{:.3f}'.format(record.rate) }}</td>
            {% if 'pnl' in record %}
            <td class="text-right">{{ '{:,.2f}'.format(record.pnl) }}</td>
            {% endif %}
            <td class="text-right">
                <a target="_blank" rel="noopener noreferrer" href="{{ record.url }}">{{ record.url_name }} &#8599;</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}
    </div>
{% endblock %}
